# Environment 
.venv/
env/
venv/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
.pytest_cache/
.venv_tf/

# Temporary files
*.tmp
*.temp
*~
.DS_Store



# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.ico

# Spreadsheets
*.xlsx
*.xls
*.ods